<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 0px 0px 0px;" bgcolor="#9ddaf7" data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="300" style="width:300px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="4fa1d08b-76eb-4103-8827-b8192ee43e9d" data-mc-module-version="2019-10-22">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ratione doloremque aspernatur repellat alias? Labore atque autem magni repudiandae repellat molestias quod! Aperiam quidem necessitatibus nulla expedita facere officia qui?
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="300" style="width:300px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, id tenetur! Quo placeat ducimus ab sequi totam, doloribus illum aperiam modi facilis, veritatis nostrum asperiores molestias natus expedita labore ea!
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>